.calculator {
  color: black;
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  align-items: center;
}

.mortgage-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* to hold the calculations */
.container {
  display: flex;
  justify-content: center;
  width: auto; /* Adjust width as needed */
  max-width: auto; /* Maximum width to maintain readability */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mortgage-calculator-info {
  display: flex;
  flex-direction: row;
  border: 2px black;
}

.new-purchase-form {
  display: flex;
  flex-direction: column;
  border: 2px black;
  gap: 20px;
  padding: 20px;
}
.refinancing-form {
  display: flex;
  flex-direction: column;
  border: 2px black;
  gap: 20px;
  padding: 20px;
}
.second-columns {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px;
  border: 3px solid;
  background-color: #dfdfdf;
}

.calculate-button {
  /* display: flex; Enable flexbox for the button */
  /*justify-content: center; /* Center content horizontally */
  /*align-items: center; /* Center content vertically (optional) */
  /* Add other styles for the button (optional) */
  display: flex;
  justify-content: center;
}

.refinancing-columns {
  width: 400px;
  margin: 10px;
  border: 3px solid;
  background-color: #dfdfdf;
}

.input-groups {
  display: flex;
  gap: 20px;
}
