* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.login-container {
    margin: 5rem 50rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-shadow: 2px 2px 24px #2c2c2c1a;
    background-color: #F6FAFE;
}

.login-container form {
    padding: 5vh;

}

.logo-div {
    padding: 0;
}

.login-container label {
    float: left;
    font-size: 1em;
}

button {
    margin-top: 10px;
    
}
