nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    width: 100%;
    height: 80px;
    font-size: 1rem;
    box-shadow: 2px 2px 24px #2c2c2c1a;
    background-color: white;
}

.navbar-logo-container {
    width: 15%;
    height: inherit;
}

.navbar-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}

.navbar-menu a {
    padding: 0.5rem 1rem;
    color: #176684;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: solid white;
}

.navbar-menu a:hover {
    background-color: white;
    border: solid #176684;
    color: #176684;
}

.navbar-profile {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px;
    border-color: #176684;
    color: #176684;
    font-weight: bold;
    text-decoration: none;
}

.navbar-search {
    width: 35rem;
}

.navbar-profile a {
    background-color: #176684;
    margin-right: 2rem;
    padding: 0.3rem 2rem;
    border: solid #176684;
    border-radius: 1rem;
    border-width: 0.2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-profile a:hover {
    background-color: white;
    color: #176684;
}
