* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 24px #2c2c2c1a;
    font-size: 1em;
}

.logo-div {
    margin-left: 2rem;
    padding: 0 2rem;
    width: 5vh;
    height: auto;
}

.logo-div img {
    max-width: 100%;
    height: auto;
}

.navbarOption {
    margin: 10px;
}

nav {
    background-color: white;
    gap: 2rem;
    padding: 0 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #176684;
    font-weight: bold;
}

.navbarProfile a {
    margin-right: 2rem;
    padding: 0.3rem 2rem;
    border: solid black;
    border-radius: 1rem;
    border-width: 0.1rem;
    text-decoration: none;
    color: #176684;
    font-weight: bold;
}